<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O'zgartirish</title>
</head>
<body>
    <div class="container">
        <div class="div">
            <form method="update">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class = "submit_button"><a href="./all_done.html">Ok</a></button>
            </form>
        </div>
    </div>
</body>
</html>